.latestNewsContainer{
    margin-bottom:20px;
    align-self: center;
    width:fit-content;
    height:fit-content;
}
.latestNews_item, .notLatestNews_item{
    width:420px;
    height:250px;
    padding:10px;
    background-position: center;
    color:antiquewhite;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.latestNews_item img, .notLatestNews_item img{
    width:420px;
    height:250px;
    z-index: -1;
}
.newsTitleCont{
    width:420px;
    height:250px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.LatestNews{
    padding:125px;
    align-self: center;
    margin-bottom: -25px;
}
.notLatestNewsContainer{
    margin-bottom:20px;
    align-self: center;
    width:fit-content;
    height:fit-content;
}
.OtherNews{
    align-self:center;
    margin:100px 0;
}
