.FlexContainer{
    width:auto;
    display:flex;
    justify-content: center;
}
.ServicesContainer{
    width:fit-content;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 200px);
    gap:20px;
}
.ServicesContainer img{
    width:100px;
}
