@media (max-width: 750px){
.indexgrid{
    align-self: center;
    width:auto;
    height:fit-content;
    display: grid;
    gap:25px;
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-template-rows: repeat(2, 1fr 1fr);
    margin:50px 0px;
}
.indexgrid_item{
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 0;
    width:220px;
    height:220px;
    border:black solid 1px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

}
.indexgrid_item a{
    display: flex;
    text-align: center;
    width:220px;
    height:220px;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
}
@media (max-width:400px){
.indexgrid{
    align-self: center;
    width:99vw;
    height:fit-content;
    display: grid;
    gap:25px;
    grid-template-columns: repeat(4, 1fr);
    margin:50px 0px;
}
}