@media (max-width:950px){
    .ProjectContainer{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
}
@media (max-width:650px){
    .ProjectContainer{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
}