body{
    display:flex;
    flex-direction: column;
    height:fit-content;
}
.ProjectContainer{
  margin-top:50px;
  margin-bottom: 50px;
  align-self:center;
}
.Project_item{
  margin-top:15px;
}
.ProjectsHead{
    align-self: center;
    margin-top:100px;
}

