*{
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono'
}

.logo{
    width: 50px;
    height: 50px;
    padding-top: 8px;
    
}
 

nav li{
    color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      margin: 20px;
     
}

nav ul{
    display:flex;
    justify-content: flex-end;
    margin: 0 20px;
    
}

nav{
    width:99vw;
    position:fixed;
    background-color: rgb(44, 37, 37);
    height: 4rem;
    z-index: 101;
    
}

a{
    text-decoration: none;
    color:gray; 
}
.Footer{
    padding-left:17vw;
    padding-top:20px;
    background-color: black;
    width:auto;
    height:fit-content;
    display:grid;
    color:white;
    grid-template-columns: repeat(3, 1fr);
}
.Footer_item{
    width:200px;
    height: 80px;
}
a{
    text-decoration: none;
    color:rgb(194, 194, 194); 
}

@media (max-width:750px) {
.Footer{
    padding-top:20px;
    background-color: black;
    width:auto;
    height:fit-content;
    display:grid;
    color:white;
    grid-template-columns: repeat(1, 1fr);
}
.Footer_item{
    width:200px;
    height: 80px;
}
    /* nav li{
    color: white;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      margin: 20px;
     
}
nav ul{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    
}

nav{
    width:99vw;
    background-color: rgb(44, 37, 37);
    height: fit-content;
    z-index: 101;
    
} */
}