.FlexContainer{
    width:auto;
    display:flex;
    justify-content: center;
}
.ServicesContainer{
    width:fit-content;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 200px);
    gap:20px;
}
.ServicesContainer img{
    width:100px;
}

.Footer{
    padding-left: 150px;
    justify-self: end;
    padding-top:20px;
    background-color: black;
    width:auto;
    height:158px;
    display:grid;
    color:white;
    grid-template-columns: repeat(3, 540px);
}
.Footer a{
    color: gray;
    text-decoration: none;
}